<nav>
    <ul class="nav-left">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="servicios.html">Servicios</a></li>
    </ul>
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      
      

    <!-- Logo centrado -->
    <a href="index.html" class="image-button">
        <img src="assets/logo.jpeg" alt="Logo SClima" class="logo">
    </a>
    

    <ul class="nav-right">
        <li><a href="nosotros.html">Sobre Nosotros</a></li>
        <li><a href="contacto.html">Contacto</a></li>
    </ul>
    <button class="user-button" onclick="window.location.href='login.html'">
        <i class="fas fa-user"></i> Iniciar sesión
    </button>
    <button class="register-button" onclick="window.location.href='registro.html'">
        <i class="fas fa-user-plus"></i> Registrarse
    </button>
    
</nav>